.Background
{
    width:100%;
    height:100vh;
    background:url(~@/img/Background.jpg) center center no-repeat;
    background-size:100% 100%;
    position:absolute;
}

.Title
{
    text-align:center;
    font-family:"Microsoft YaHei UI", serif;
    font-size:50px;
    color:#F0F8FF;
    text-shadow:
            -1px -1px 0 #4f4d57,
            1px -1px 0 #4f4d57,
            -1px 1px 0 #4f4d57,
            1px 1px 0 #4f4d57,
            0 2px 2px rgba(0,0,0,0.6);
}

.From-Background
{
    width:500px;
    height:400px;
    background-color:#E8E8E8;
    border-radius:15px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.From
{
    position:absolute;
    top:10%;
    padding-left:15%;
    padding-right:15%;
}

.fromItem
{
    padding-right:4%;
}

.checkBox
{
    padding-top:5%;
    padding-left:5px;
}

.submit_button
{
    position:absolute;
    top:310px;
    right:300px;
}

.clear_button
{
    position:absolute;
    top:310px;
    right:150px;
}